* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  .Deit-page{
    margin-top:3.5rem;
    height: 100%;
      width:100%;
      text-align: center;
      justify-content: center;
      background-color: #86c6be;
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
    align-items: center;
   }
    