
p {
  color: aliceblue;
}
@import url(https://fonts.googleapis.com/css?family=Open+Sans:600);
.first,
.second,
.third,
.fourth,
.fifth {
  position: absolute;
  display: block;
  top: 20rem;

  width: 60%;

  font-size: 2em;

  animation-duration: 20s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
}

.first {
  animation-name: first;
}

.second {
  animation-name: second;
}

.third {
  animation-name: third;
}

.fourth {
  animation-name: fourth;
}

.fifth {
  animation-name: fifth;
}

@keyframes first {
  0%,
  8.3% {
    left: -100%;
    opacity: 0;
  }
  8.3%,
  25% {
    left: 25%;
    opacity: 1;
  }
  33.33%,
  100% {
    left: 110%;
    opacity: 0;
  }
}

@keyframes second {
  0%,
  25% {
    left: -100%;
    opacity: 0;
  }
  35%,
  45% {
    left: 25%;
    opacity: 1;
  }
  50%,
  100% {
    left: 110%;
    opacity: 0;
  }
}

@keyframes third {
  0%,
  50% {
    left: -100%;
    opacity: 0;
  }
  55%,
  60% {
    left: 25%;
    opacity: 1;
  }
  70%,
  100% {
    left: 110%;
    opacity: 0;
  }
}

@keyframes fourth {
  0%,
  70% {
    left: -100%;
    opacity: 0;
  }
  75%,
  80% {
    left: 25%;
    opacity: 1;
  }
  90%,
  100% {
    left: 110%;
    opacity: 0;
  }
}

@keyframes fifth {
  0%,
  90% {
    left: -100%;
    opacity: 0;
  }
  93%,
  96% {
    left: 25%;
    opacity: 1;
  }
  100% {
    left: 110%;
    opacity: 0;
  }
}

.welcome{
  color:white;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-size: 5rem;
}
